
header {
  background: $pallet-3;
  @include size(100%, 50px);
  overflow: hidden;

  h3 {
    text-align: center;
    color: $white;
    padding-top: 1%;
  }

  ul.list {
    height: 100%;

    li {
      padding: 12% 15% 8% 8%;
      float: left;
      height: 100%;
      cursor: pointer;
      @include transition(all, .5s, ease);
      color: $white;

      &:hover {
        background: $white;
        color: $pallet-3;
      }
    }
  }
}
