
header {
  background: $pallet-3;
  @include size(100%, 50px);
  overflow: hidden;

  h3 {
    text-align: center;
    color: $white;
    padding-top: 1.5%;
  }

  .app-title {
    position: absolute;
    right: 5%;
    top: 1.5%;
  }

  ul.list {
    height: 100%;

    li {
      padding: 1.4% 2%;
      float: left;
      height: 100%;
      cursor: pointer;
      @include transition(all, .5s, ease);
      color: $white;

      &:hover {
        background: $white;
        color: $pallet-3;
      }

      &:hover {
        @include border(0, 5px, 0px, 0, solid, $pallet-2);
      }
    }

  }
}
