.box-pokemon-detail {
  width: 45%;

  .pokemon-detail {
    position: relative;
    padding: 5%;
    @include border(1px, 1px, 1px, 1px, solid, $gray2);
    @include border-radius(0px, 35px, 35px, 0px);
    width: 90%;
    background: $white;
    min-height: 390px;

    .pokemon-card {
      display: block;
    }

    .pokemon-art {
      display: none;
    }

    .change-view-card {
      display: none;
      position: absolute;
      right: 1%;
      bottom: 1%;
      @include border-radius(5px, 5px, 5px, 5px);
      background: $pallet-2;
      padding: 0% 4%;
    }

    .choose-pokemon {
      width: 90%;
      height: 100%;
      position: absolute;

      h1 {
        @extend %center-v;
        @extend %center-h;
        position: absolute;
        top: 10%;
        font-size: 4em;
      }

      img.character {
        position: absolute;
        right: 0%;
        bottom: 0%;
        width: 50%;
        opacity: .9;
      }
    }

    picture {
      width: 40%;
    }
  }
}
