@import "normalize";

body {
  margin: 0;
  padding: 0;
  background: $gray;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.text-color-blue {
  color: $blue;
}

.font-pokemon-hollow {
  font-family: $font3;
}

.font-pokemon-solid {
  font-family: $font4;
}

.input-text {
  margin: 0;
  padding: 3px;
  @include border-radius(5px, 5px, 5px, 5px);
  @include border(0, 0, 0, 0, solid, transparent);
  box-shadow: none;
  height: 50px;
}
