@import
    "layout/flexbox",
    "layout/media-queries"
    ;

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.m-top10 {
  margin-top: 10px;
}

.m-top20 {
  margin-top: 20px;
}

.m-left10 {
  margin-left: 10px;
}

.m-right10 {
  margin-right: 10px;
}

.m-right20 {
  margin-right: 20px;
}

.m-bottom10 {
  margin-bottom: 10px;
}

.m-bottom20 {
  margin-bottom: 20px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.row {
  width: 100%;
}
