@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin translateY($Y) {
  -webkit-transform: translateY($Y);
  -moz-transform: translateY($Y);
  -ms-transform: translateY($Y);
  -o-transform: translateY($Y);
  transform: translateY($Y);
}

@mixin border-radius($topLeft, $topRight, $bottomLeft, $bottomRight) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-bottom-right-radius: $bottomRight;
}

@mixin border($top, $left, $right, $bottom, $style, $color) {
  border-top: $top;
  border-left: $left;
  border-right: $right;
  border-bottom: $bottom;
  border-top: $top;
  border-style: $style;
  border-color: $color;
}
