@charset "UTF-8";

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;
$font3: 'pokemonHollow';
$font4: 'pokemonSolid';

// = Colors

$red: #df2e30;
$blue: #1894c4;
$white: #fff;
$gray: #f1f1f1;
$gray2: #ccc;
$pink1: #ffd4fc;
$pink2: #eec6f5;
$orange1: #ffb300;

$color1: $red;
$color2: $blue;
